@*@model IEnumerable<MovieArchive.Models.Movie>*@
@model PagedList.IPagedList<MovieArchive.Models.Movie>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {
        <p>
            Genre: @Html.DropDownList("movieGenre", "All")
            Title: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input type="submit" name="submit" class="btn btn-primary" value="Filter" />
        </p>
    }
</p>
<table class="table" style="table-layout: fixed; width: 100%">
    <tr>
    <th>
        @Html.DisplayName("Title")
    </th>
    <th>
        @Html.DisplayName("Release Date")
    </th>
    <th>
        @Html.DisplayName("Genre")
    </th>
    <th>
        @Html.DisplayName("Rating")
    </th>
    <th>
        @Html.DisplayName("Review")
    </th>
    <th>
        @Html.DisplayName("ImageUrl")
    </th>
    <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))